
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

body {
    text-transform: uppercase;
    font-weight: 1200;
    letter-spacing: 1px;  
    font-family: 'Syncopate', sans-serif;
    background: rgb(0, 0, 0);
}
.hand{
  font-size: 38px;

}


.front-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;
  padding: 50px 4vw;
  color: white;
  

  align-items: center;


  font-family: 'Syncopate', sans-serif;
  // font-family: "Raleway";
  font-weight: 900;
  mix-blend-mode: difference;
}
  


  .front-menu {
    padding-left: 875px;
    letter-spacing: 3px;
    font-family: 'Syncopate', sans-serif;
    margin-top: -34.5px;
    display:block;
    .nav{
      margin-right: 10px;
    }
    

}



.top-banner {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;

  position: fixed;
  z-index: -1;
  top: 0;
  padding: 0 4vw;

  color: rgb(188, 166, 166);
  font-family: 'Syncopate', sans-serif;
  



  .top-banner-content {
    font-size: 1.8rem;
    line-height: 1.3;
    

    .small-span{
      font-size: 0.35rem;
    }

    .front-page {
      font-size: 22px;
      font-style: italic;
      font-weight: 600;
      transition: all 0.4s ease-in-out;
      
      
      
    
      &:hover {
        cursor: pointer;
        letter-spacing: 20px;
        font-weight: 700;



        ~ .front-iframe {
          opacity: 0.5;
        }
      }
    }
  }

  .top-banner-scrolldown {
    font-size: 2.5rem;
    position: absolute;
    bottom: 15%;
    left: 50%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(245, 245, 245);
    color: black;
    transform: translate(-50%, -50%);
  }
}

.front-iframe {
  box-sizing: border-box;
  height: 56.25vw;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%) scale(1.5);
  position: absolute;
  top: 50%;
  width: 177.7777778vh;
  pointer-events: none;

  z-index: -1;
  background: rgb(248, 243, 243);
  opacity: 0;
  transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  filter: grayscale(0) blur(0.5px);
}

.menu-list {
  margin-top: 100vh;
  background-color: #000000;
  position: relative;
  padding: 1vh 0;
 

  .menu-item {
    position: relative;
    
  }
}
  .menu-title {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 10vh 6vw;
    z-index: 1;
    
    
    justify-content:center;
    letter-spacing:1px;
    font-weight: 450;

    &.clone {
      position: absolute;
      top: 0;
    
      pointer-events: none;
      color: rgb(5, 5, 5);
      clip-path: inset(0 0% 0 0);
      transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
    }

    &:not(.clone) {
      margin: 10vh 0;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: rgb(255, 255, 255);
      color: transparent;

      &:hover {
        cursor: pointer;

        ~ .clone {
          clip-path: inset( 0 0 0);
        }
        ~.menu-image-container .menu-image {
          opacity: 2;
          transform: scale(1.1);
          filter: blur(0) brightness(1);
        }
      }
    }
  }

  .menu-image-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
  }
.counter{
    font-size: .8rem;
    position: absolute;
    top: 50%;
    left: 2.8%;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: rgb(245, 245, 245);
    color: rgb(241, 238, 238);
    transform: translate(-50%, -50%);

}
  .menu-image {
    opacity: 0;
    background-size: cover;
    object-fit: contain;
    background-position: center;
    filter: blur(0.5px) brightness(2);
    transform: scale(1);

    width: 100%;
    height: 100%;

    transition: all 1s cubic-bezier(0.77, 0, 0.175, 1);
  }

