.models-container{
    overflow:hidden;
    background: black;
    margin-top: 150px;
    
  }
  .header-pr{
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1.5px;
  }
//   .pentagon{
//     position: relative;
//     width: 54px;
//     box-sizing: content-box;
//     border-width: 50px 18px 0;
//     border-style: solid;
//     border-color: red transparent;
  
//   .pentagon:before {
//     content: "";
//     position: absolute;
//     height: 0;
//     width: 0;
//     top: -85px;
//     left: -18px;
//     border-width: 0 45px 35px;
//     border-style: solid;
//     border-color: transparent transparent red;
//   }
// }
  
  .family {
    margin-top: 80px;
    display: flex;
    margin: 100px 0;
    margin-left: 60px;
    background: black;
  
    transform: translate3d(2, 10, 20);
    &:hover {
      cursor: move;
    }
    .family-item {
      min-width: 30vw;
      margin-left: .33333vw;
      justify-content:center;
  
      &:first-of-type {
        margin-left: 0;
      }
    }
  .desc{
    color: white;
  }
  .product-desc{
    color: white;
    margin-left: 2.33333vw;
    display:flex;
    font-size: .8rem;
  
  
  }
    .family-item-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      width: 90%;
  
      &:before {
        content: "";
        display: block;
        width: 100%;
        margin-top: 10px;
        padding-top: 100%;
        pointer-events: none;
      }
    }
  }